body {
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}

ul li {
    list-style: none; /* убираем дефолтные маркеры */
}


.list span {
    cursor: pointer;
}

.hide::after {
    content: "[+]"; /* украшательство вместо маркера */
}

.show::after {
    content: "[-]"; /* украшательство вместо маркера */
}